@import '../../../../styles/common/variables.scss';
@import '../../../../styles/common/extends.scss';


.add-to-favourites-btn {
    @extend %action-btn;
    
    &:hover {
        svg {
            path {
                stroke: $colorBlue;
                fill: $colorBlue;
            }
        }
    }

    svg {
        path {
            stroke: $colorGreen;
            fill: $colorBlue;
        }
    }
}