@import '../../../styles/common/variables.scss';
@import '../../../styles/common/fonts.scss';
@import '../../../styles/common/mixins.scss';
@import '../../../styles/common/extends.scss';

.generation-history {
    background: $colorBlack;   

    padding: 5rem 0;

    @extend %page-min-height;

    &__inner {
        display: flex;flex-direction: column;
        gap: 4rem;
    }

    &__headline {
        @extend %Font-Headline;
        color: $colorPink;
        text-align: center;
    }

    &__main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    &__subheadline {
        @extend %Font-Headline;
        color: $colorPink;
        text-align: center;

        margin-top: 20vh;
    }

    &__action-btn-container {
        grid-column: span 3;

        display: flex;
        flex-direction: column;
        gap: .5rem;

        display: flex;
        align-items: center;
        justify-content: center;

        &-text {
            @extend %Font-Regular-15px;
            color: $colorPink;
        }
    }
}