@import '../../../styles/common/variables.scss';
@import '../../../styles/common/fonts.scss';
@import '../../../styles/common/mixins.scss';
@import '../../../styles/common/extends.scss';

.generation-history {
    background: $colorBlack;   

    padding: 5rem 0;

    min-height: calc(100vh - 10.5rem - 7.9rem);

    &__inner {
        display: flex;flex-direction: column;
        gap: 4rem;
    }

    &__headline {
        @extend %Font-Headline;
        color: $colorPink;
        text-align: center;
    }

    &__main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    &__subheadline {
        @extend %Font-Headline;
        color: $colorPink;
        text-align: center;

        margin-top: 20vh;
    }

    &__load-more {
        grid-column: span 2;

        display: flex;
        align-items: center;
        justify-content: center;

        &-btn {
            @extend %action-btn;
            @extend %Font-Regular-20px;
            color: #fff;
            text-decoration: none;

            background: $colorDarkBlue;

            margin-top: 2rem;

            min-width: max-content;
            width: 20%;

            @include transition(0.2s, ease-in-out);

            &:hover {
                background: $colorBlue;

                @include transition(0.2s, ease-in-out);
            }
        }

    }
}