@import '../../styles/common/variables.scss';
@import '../../styles/common/fonts.scss';
@import '../../styles/common/mixins.scss';
@import '../../styles/common/extends.scss';

.log-in-form {
    height: 100vh;
    width: 100%;

    background: $colorBlack;

    display: flex;
    justify-content: center;
    align-items: center;

    &__inner {
        min-width: 60rem;
        max-width: 60rem;
    }

    &__headline {
        @extend %Font-Headline;
        font-size: 3rem;
        color: $colorPink;
        text-align: center;

        @extend %headline-main-animation;

        margin-bottom: 4rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 3rem;
    }

    &__btn {
       width: 100%;

       padding: 1.5rem 1rem;

       border: none;
       border-bottom: .1rem solid $colorGreen;
       border-radius: .5rem;

       color: $colorPink;

       @extend %Font-Regular-16px;

       @include transition(.3s, ease);
    }

    &__input {
        @extend %input-textarea;
    }

    &__btn-container {
        display: flex;
        justify-content: center;
        
        width: 50%;
    }

    &__btn {
        background: $colorBlue;
        color: $colorPink;

        &:hover {
            cursor: pointer;
            background: $colorDarkBlue;

            @include transition(.3s, ease);
        }
    }

    &__error-message {
        @extend %Font-Regular-20px;
        color: #c5303e;
        text-align: center;

        margin-top: 4rem;

        opacity: 0;
    }

    .show-error {
        opacity: 1;
    }
}