@import '../../../styles/common/variables.scss';
@import '../../../styles/common/mixins.scss';
@import '../../../styles/common/extends.scss';

@keyframes reveal-modal {
    0% {
        transform: translateX(-100rem);
        z-index: 999;
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        z-index: 999;
    }
}

@keyframes hide-modal {
    0% {
        transform: translateX(-50%);
    }
    50% {
        transform: translateX(-100rem);
    }
    100%{
        z-index: -20;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-color: $colorBlack;

    border: .1rem solid $colorBlue;
    border-radius: 1rem;

    min-width: 50%;

    &__inner {
        padding: 5rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 2rem;
    }
    
    &__headline {
        @extend %Font-Headline;
        color: $colorPink;
    }

    &__text {
        @extend %Font-Regular-20px;
        color: $colorPink;
    }

    &__btn-container {
        width: 100%;

        display: flex;
        justify-content: center;

        gap: 2rem
    }

    &__btn {
        @extend %action-btn;

        @extend %Font-Regular-16px;
        color: $colorPink;

        border: none;

        min-width: max-content;
        width: 17.7rem;

        @include transition(.3s, ease);

        &:hover {
            color: $colorBlue;
            @include transition(.3s, ease);
        }
    }
}

.modal.open {
    animation: reveal-modal .5s ease forwards;
}

.modal.hidden {
    animation: hide-modal .5s ease forwards;
}