@import '../../../styles/common/variables.scss';
@import '../../../styles/common/fonts.scss';

.generator {
    height: 100%;

    background: $colorBlack;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 4rem;
    }

    &__headline {
        @extend %Font-Headline;
        color: $colorPink;

        text-align: center;

        margin-bottom: 2rem;
    }

    &__img-descr-propmt {
        width: 100%;

        padding: 2rem 1rem;

        border: none;
        border-bottom: .1rem solid $colorGreen;
        border-radius: .5rem;

        background: transparent;

        transition: all .3s ease-in-out;

        color: $colorPink;

        &:focus {
            outline: none;

            border-bottom-color: $colorBlue;

            transition: all .3s ease-in-out;
        }

    }

    &__label {
        .generator-model {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;

            &__btn {
                @extend %Font-Regular-15px;
                color: $colorPink;

                background: $colorGreen;

                padding: 2rem;
                
                border: none;
                border-radius: .5rem;

                transition: all .3s ease;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .generator__img-description {
        padding: 2rem;
    }
}

.active-model-btn {
    transition: all .3s ease;
    background: $colorBlue;
}