@import '../../../styles/common/variables.scss';
@import '../../../styles/common/fonts.scss';
@import '../../../styles/common/extends.scss';

.generator {
    height: 100%;

    background: $colorBlack;

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 4rem;
    }

    &__headline {
        @extend %Font-Headline;
        color: $colorPink;
        text-align: center;

        margin-bottom: 2rem;

        @extend %headline-main-animation;
    }

    &__img-descr-propmt {
        width: 100%;

        padding: 2rem 1rem;

        border: none;
        border-bottom: .1rem solid $colorGreen;
        border-radius: .5rem;

        background: transparent;

        color: $colorPink;

        @extend %select-input-hover;

        &:focus {
            outline: none;

            border-bottom-color: $colorBlue;

            transition: all .3s ease-in-out;
        }
    }

    &__model-select {
        &-headline {
            @extend %Font-Regular-20px;
            color: $colorPink;
            text-align: center;
        }


        .generator-model {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;

            margin-top: 1rem;

            &__btn {
                @extend %Font-Regular-20px;
                color: $colorPink;

                background: $colorGreen;

                padding: 2rem;
                
                border: none;
                border-radius: .5rem;

                transition: all .3s ease;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .btn-container {
        display: flex;
        justify-content: center;

        &__button {
            background: $colorBlue;

            padding: 1.5rem 1rem;

            border: none;
            border-radius: .5rem;

            @extend %Font-Regular-20px;
            color: $colorPink;

            @include transition(.3s, ease, all);

            &:hover {
                cursor: pointer;

                @include transition(.3s, ease, all);

                background: #1e5cce;
            }
        }
    }

    .generator__img-description {
        padding: 2rem;
    }
}

.active-model-btn {
    transition: all .3s ease;
    background: $colorBlue !important;
}