@import './mixins.scss';
@import './variables.scss';
@import './fonts.scss';

%headline-main-animation {
    @keyframes reveal {
        80%{
          letter-spacing: 8px;
        }
        100% {
          background-size: 300% 300%;
        }
      }
      @keyframes glow {
        40% {
          text-shadow: 0 0 8px $colorWhite;
        }
      }

  background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, $colorWhite, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}

%select-component {
  position: relative;

  &:hover {
    cursor: pointer;

    .v2-input, .v2-select, .v2-textarea{
        border-bottom-color: $colorBlue;
        @include transition(.5s, ease);
    }

    .input-label, .select-label, .textarea-label {
        color: $colorBlue;
        @include transition(.5s, ease);
    }
  }
}

%select-input-hover {
    @include transition(.5s, ease);

    &:hover {
        border-bottom-color: $colorBlue;

        @include transition(.5s, ease);
    }
}

%option-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  border: none;
  border-bottom: .1rem solid #218770;
  border-radius: .5rem;

  @include transition(.3s, ease);

  &:hover {
    border-bottom-color: $colorDarkBlue;
    @include transition(.3s, ease);

    label {
      color: $colorBlue;
      @include transition(.3s, ease);
    }
  } 

  &:has(input:focus, textarea:focus) {
    label {
      color: $colorBlue;
    }
  }

  label {
    color: $colorPink;
    @extend %Font-Regular-16px;

    @include transition(.3s, ease);
  }
}

%button {
    @extend %Font-Regular-16px;

    border: none;
    border-radius: 2rem;

    text-align: center;

    padding: 1.5rem 1rem;

    @include transition(.3s, ease);

    &:hover {
      @include transition(.3s, ease);
      cursor: pointer;    
    }

    &.active {
      @include transition(.3s, ease);
  }
}

%action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  text-decoration: none;

  background: $colorLightBlack;

  padding: 1rem 3rem;

  border: none;
  border-radius: 3rem;

  &:hover {
    cursor: pointer;

    p {
      color: $colorBlue;
    }
  }

  p, svg {
    @include transition(.3s, ease);

    &:hover {
      @include transition(.3s, ease);
    }
  }

  svg {
    width: 2.4rem;
    height: 2.4rem;
  }

  p {
    @extend %Font-Regular-16px;
    color: $colorPink;

    white-space: nowrap;
  }
}

%submit-btn {
  background: $colorBlue;

  @extend %action-btn;

  @extend %Font-Regular-20px;
  color: $colorPink;

  @include transition(.3s, ease);
  
  min-width: max-content;
  width: 20%;

  border: none;

  &:hover {
    background: $colorDarkBlue;
    @include transition(.3s, ease);
  }
}

%select-btns-container {
  display: flex;
  justify-content: space-between;
  gap: 4rem;

  margin-bottom: 4rem;

  .select-btn {
      color: $colorPink;
      @extend %Font-Regular-16px;
      text-decoration: none;

      @extend %action-btn;
  }

  .main-bnts {
      display: flex;
      gap: 2rem;
  }
}

%page-min-height {
  min-height: calc(100vh - 10.5rem - 7.9rem);
}

%prompt {
  @extend %Font-Regular-16px;
  color: $colorPink;
  
  width: 100%;

  padding: 2rem 0;

  resize: vertical;

  border: none;
  border-bottom: .1rem solid $colorGreen;
  border-radius: .5rem;

  color: $colorPink;

  background: transparent;

  overflow: hidden;

  min-height: 6rem;

  @include transition(.3s, ease);

  &::-webkit-scrollbar {
      background: $colorBlack;
      width: .6rem;
  }

  &::-webkit-scrollbar-thumb {
      background: $colorGreen;

      border-radius: .5rem
  }

  &:focus {
      outline: none;
      border-color: $colorBlue;

      @include transition(.3s, ease);
  }

  &:hover {
      @include transition(.3s, ease);
      border-color: $colorBlue;
  }
}

%block {
  padding: 3rem;
  border-radius: 3rem;
}

%input-textarea {
  background: transparent;

  width: 100%;

  padding: 1.5rem 1rem 1.5rem 0;

  border: none;
  border-radius: .5rem;

  color: $colorPink;
  @extend %Font-Regular-16px;

  @include transition(.3s, ease);

  &:focus {
    outline: none;

    border-bottom: .1rem solid $colorDarkBlue;

    padding-left: 1rem;

    @include transition(.3s, ease);
  }
}

%switchers-container {
  display: flex;
  align-items: center;
  gap: 4rem;
}

%submit-btn-container {
  display: flex;
  justify-content: center;    

  width: 100%;

  button {
    @extend %submit-btn;
  }
}