* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5% !important;

    @font-face {
        font-family: 'Roboto-Bold';
        src: url(../../fonts/Roboto-Bold.woff2);
    }
    
    @font-face {
        font-family: 'Roboto-Medium';
        src: url(../../fonts/Roboto-Medium.woff2);
    }
    
    @font-face {
        font-family: 'Roboto-Regular';
        src: url(../../fonts/Roboto-Regular.woff2);
    }

    &::-webkit-scrollbar {
        width: .5rem;
        
        background-color: $colorBlack;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $colorPink;

        border-radius: .5rem;
    }
}

body {
    min-height: 100vh;
}

.container {
    padding: 0 20%;

    @media screen and (max-width: 2500px) {
        padding: 0 10%;
    }

    @media screen and (max-width: 2000px) {
        padding: 0 6.4rem;
    }

    @media screen and (max-width: 1440px) {
        padding: 0 5.6rem;
    }

    @media screen and (max-width: 575px) {
        padding: 0 2.4rem;
    }
}

section {
    padding: 5rem 0;

    @media screen and (max-height: 700px) {
        padding: 3rem 0;
    }
}