$colorPink: #f5d6d9; //text
$colorBlack: #0d0304; // page background
$colorLightBlack: #272525; // block background
$colorGreen: #218770; //secondary
$colorBlue: #4e7cd4; //accent
$colorDarkBlue: #1e5cce; //dark accent
$colorRed: rgb(215, 25, 11); // error or delete
$colorWhite: #fff; //text for documentation
$colorGray: #707071; //disabled

//desktop
$screen2560: 2560px;
$screen1920: 1920px;
$screen1440: 1440px;
$screen1200: 1200px;

 // tablet
$screen1024: 1024px;
$screen991: 991px;
$screen768: 768px;

// mobile
$screen480: 480px;
$screen320: 320px;