$colorPink: #f5d6d9; //text
$colorBlack: #0d0304; // background
$colorLightBlack: #272525; // background
$colorPinkDeep: #e28895; //primary
$colorGreen: #218770; //secondary
$colorDarkGreen: #175c4c; //secondary
$colorBlue: #4e7cd4; //accent
$colorDarkBlue: #1e5cce; //dark accent

//desktop
$screen2560: 2560px;
$screen1920: 1920px;
$screen1440: 1440px;
$screen1200: 1200px;

 // tablet
$screen1024: 1024px;
$screen991: 991px;
$screen768: 768px;

// mobile
$screen480: 480px;
$screen320: 320px;