@import '../../../styles/common/fonts.scss';
@import '../../../styles/common/variables.scss';
@import '../../../styles/common/mixins.scss';
@import '../../../styles/common/extends.scss';

.generator-options {
    display: flex;
    flex-direction: column;

    gap: 2rem;

    margin-bottom: 5rem;

    padding: 3rem;

    background-color: $colorLightBlack;

    border-radius: 3rem;

    &__prompt {
        @extend %Font-Regular-15px;
        color: $colorPink;
        
        width: 100%;

        padding: 2rem 0;

        resize: vertical;

        border: none;
        border-bottom: .1rem solid $colorGreen;
        border-radius: .5rem;

        color: $colorPink;

        background: transparent;

        overflow: hidden;

        min-height: 6rem;

        @include transition(.3s, ease);

        &::-webkit-scrollbar {
            background: $colorBlack;
            width: .6rem;
        }

        &::-webkit-scrollbar-thumb {
            background: $colorGreen;

            border-radius: .5rem
        }

        &:focus {
            outline: none;
            border-color: $colorBlue;

            @include transition(.3s, ease);
        }

        &:hover {
            @include transition(.3s, ease);
            border-color: $colorBlue;
        }
    }

    &__model-select {
        &-headline {
            @extend %Font-Regular-15px;
            color: $colorPink;
            text-align: center;
        }


        &-main {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 1.5rem;

            margin-top: 1rem;
        }
    }

    &__show-options {
        display: flex;
        align-items: center;
        gap: 2rem;

        &-headline {
            @extend %Font-Regular-15px;
            color: $colorPink;
        }
    }

    &__btn-container {
        display: flex;
        justify-content: center;    

        width: 100%;
    }

    &__button {
        background: $colorBlue;

        @extend %button;

        @extend %Font-Regular-20px;
        color: $colorPink;
        
        min-width: max-content;
        width: 20%;

        &:hover {
            background: $colorDarkBlue;
        }
    }
}

.active-model-btn {
    transition: all .3s ease;
    background: $colorBlue !important;
}