@import '../../../styles/common/variables.scss';
@import '../../../styles/common/fonts.scss';
@import '../../../styles/common/extends.scss';

@keyframes loading-animation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(.8);
    }
  }
  

.generator-page {
    background: $colorBlack;

    @extend %page-min-height;

    &__balance {
        width: 100%;

        display: flex;
        justify-content: flex-start;
        gap: 2rem;

            
        padding: 1rem 2rem;
    
        border-radius: 3rem;

        background: $colorLightBlack;

        margin-bottom: 2rem;

        min-width: max-content;
        max-width: max-content;

        &-text, &-label {
            @extend %Font-Regular-20px;
            color: $colorPink;
            
            @include transition(.3s, ease);

            &.loading-animation {
                margin: 0 -.075rem;
                animation: loading-animation .7s infinite alternate;

                @include transition(.3s, ease);

                @for $i from 1 through 6 {
                    &:nth-child(#{$i+1}) {
                        animation-delay: #{$i*.1}s;
                    }
                }
            }
        }
    }
}