@import '../../../styles/common/variables.scss';
@import '../../../styles/common/fonts.scss';
@import '../../../styles/common/extends.scss';

@keyframes show-arrow {
    0% {
        transform: translateX(20vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes hide-arrow {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(20vw);
        display: none;
    }
}

@keyframes show-headline {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes hide-headline {
    0% {
        transform: translateY(0);
    }
    100% {
        width: 0;
        height: 0;
        opacity: 0;
        transform: translateY(-20vh);
    }
}

@keyframes smoothScroll {
    0% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(0px);
    }
}

.documentation {
    background: $colorBlack;

    @extend %page-min-height;

    h1 {
        @extend %Font-Headline;
        color: $colorBlue;
    }

    h2, h3, h4 {
        @extend %Font-Regular-20px;
    }

    h1, h2 {
        text-align: center;
    }

    h2, h3, h4, p, a, span, button {
        color: $colorWhite;
    }

    p, li, a, button, span {
        @extend %Font-Regular-16px;
    }

    section {
        padding: 0;
    }

    %box-shadow {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    %section-headline {
        margin-bottom: 4rem;
    }

    %text-item {
        padding: 1.5rem 2rem;

        border-radius: 2.5rem;
        border: none;
    }

    %background-gradient {
        background: linear-gradient(to right, rgb(52, 232, 158), rgb(15, 52, 67));
    }

    @mixin grid($columns, $gap) {
        display: grid;
        grid-template-columns: repeat($columns, 1fr);
        gap: $gap;
    }

    &__inner {
        display: flex;
        flex-direction: column;

        gap: 8rem;

        padding: 5rem 0;
    }

    &__headline {
        text-align: center;
        text-transform: uppercase;
    }

    .navigation, .general-info, .common-description, .ultra-model, .sd3-model, .core-model {
        &__inner {
            border-radius: 3rem;

            padding: 4rem 6rem;
        }
        
        &__headline {
            @extend %section-headline;
        }
    }

    .general-info, .common-description, .ultra-model, .core-model {
        &__inner {
            @extend %background-gradient;
        }
    }

    .navigation, .common-description, .sd3-model {
        &__inner {
            background: $colorLightBlack;
        }
    }

    .navigation {
        @include transition(.3s, ease);

        &.sticky {
            position: sticky;
            top: 0;
            z-index: 100;

            @include transition(.3s, ease);
            animation: smoothScroll .5s forwards;

            .navigation__inner {
                background: $colorBlack;

                border-radius: 0;

                padding: 1rem 2rem;

                @include transition(.3s, ease);
            }

            .navigation__headline {
               margin-bottom: 0;

                @include transition(.3s, ease);

                animation: hide-headline .5s forwards;
            }

            .navigation__main {
                gap: 2rem;

                &-link {
                    @include transition(.3s, ease);
                    font-size: 1.6rem;
                    padding: 1rem;

                    background: none;

                    &:hover {
                        @include transition(.3s, ease);
                        background: $colorBlue;
                    }
                }
            }
        }

        &__headline {
            @include transition(.3s, ease);

            animation: show-headline .5s forwards;
        }

        &__main {
            @include grid(5, 4rem);

            &-link {
                background: $colorGreen;

                @extend %text-item;

                @include transition(.3s, ease);

                &:hover {
                    @include transition(.3s, ease);

                    background: $colorBlue;

                    cursor: pointer;
                }
            }
        }
    }
    
    .general-info {
        &__main {
            display: flex;
            justify-content: center;

            .text-container {
                width: 100%;

                @include grid(5, 4rem);

                &__item {
                    background: $colorLightBlack;

                    @extend %text-item;

                    text-align: center;
                }
            }
        }
    }

    .common-description {
        &__main {
            .subheadline {
                text-align: center;
                margin-bottom: 2rem;
            }

            .text-container {
                width: 100%;

                &__item {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    gap: 2rem;

                    padding: 2rem 0;

                    background: $colorGreen;
                    text-align: center;

                    @extend %text-item;

                    &-text {
                        display: flex;
                        justify-content: center;

                        .text-item {
                            @extend %text-item;

                            background: $colorLightBlack;
                        }
                    }
                }

                &__item:nth-child(2) {
                    .text-container__item-text {
                        @include grid(3, 4rem);
                        padding: 0 2rem;
                    }
                }

                &__headline {
                    margin-bottom: 2rem;
                    text-align: center;
                }

                &__item-block {
                    width: 100%;
                    @include grid(5, 4rem);

                    &-text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 2rem;

                        @extend %text-item;

                        background: $colorGreen;

                        .text-item {
                            text-align: center;
                        }
                    }
                }
            }

            .text-container:first-of-type {
                @include grid(2, 4rem);
                margin-bottom: 4rem;
            }

            .text-container:last-of-type {
                background: $colorGreen;

                @extend %text-item;

                .text-container__item-block-text {
                    background: $colorLightBlack;
                }
            }
        }
    }

    .ultra-model, .sd3-model, .core-model {
        &__main {
            .subheadline {
                margin-bottom: 4rem;
                text-align: center;
            }

            .text-container {
                &__headline {
                    text-align: center;
                }

                &__block {
                    @extend %text-item;

                    .name {
                        margin-bottom: 3rem;
                    }

                    .description {
                        &__headline {
                            margin-bottom: 3rem;
                        }

                        &__block {
                            display: flex;
                            flex-direction: column;
                            gap: 2rem;
                        }

                        .list-item {
                            @extend %text-item;
                            text-align: center;

                            padding: .5rem 2rem;
                        }
                    }
                }

                &__block:nth-of-type(3) {
                    .description {
                        &__block-item-list {
                            @include grid(5, 2rem);
                        }
                    }
                }

                &__block:nth-of-type(5) {
                    .description {

                        &__block-item-list {
                            @include grid(3, 2rem);

                            margin-top: 2rem;
                        }
                    }
                }
            }
        }
    }

    .ultra-model, .sd3-model {
        &__main {
            .text-container {
                @include grid(5, 4rem);

                &__headline, &__block:first-of-type {
                    grid-column: span 5;
                }

                &__block:nth-of-type(3) {
                    grid-column: span 2;
                }
            }
        }
    }

    .ultra-model, .core-model {
        &__main {
            .subheadline, .text-container {
                background: $colorLightBlack;
                padding: 4rem;

                border-radius: 2.5rem;
            }

            .text-container {
                &__block {
                    background: $colorGreen;
                }

                &__block:nth-of-type(3) {
                    .description {
                        &__block-item-list {
                            @include grid(5, 2rem);

                            .list-item {
                                background: $colorLightBlack;
                            }
                        }
                    }
                }

                &__block:nth-of-type(3), &__block:nth-of-type(5) {
                    .list-item {
                        background: $colorLightBlack;
                    }
                }
            }
        }
    }

    .sd3-model {
        .subheadline {
            background: $colorGreen;

            @extend %text-item;
        }

        .text-container {
            @extend %text-item;

            background: $colorGreen;

            &__block {
                background: $colorLightBlack;
            }

            &__block:nth-of-type(3), &__block:last-of-type {
                .list-item {
                    background: $colorGreen;
                }
            }
        }
    }

    .core-model {
        &__main {
            .text-container {
                @include grid(6, 4rem);

                &__headline {
                    grid-column: span 6;
                }

                &__block:first-of-type, &__block:last-of-type {
                    grid-column: span 6;
                }

                &__block:nth-of-type(3) {
                    grid-column: span 3;
                }

                &__block:last-of-type {
                    .description {
                        &__block-item-list {
                            @include grid(7, 2rem);

                            margin-top: 2rem;

                            .list-item {
                                background: $colorLightBlack;

                                padding: 1rem 2rem;
                            }
                        }
                    }
                }
            }
        }
    }

    &__move-up-btn {
        position: fixed;
        bottom: 5vh;
        right: 2vw;

        background: $colorGreen;

        border: none;
        border-radius: 2.5rem;

        padding: 1rem;

        animation: show-arrow .5s forwards;
        @include transition(ease, .5s);

        &:hover {
            cursor: pointer;

            svg {
                path {
                    stroke: $colorPink;
                }
            }
        }

        &.hidden {
            animation: hide-arrow .5s forwards;
            @include transition(ease, .5s);
        }

        svg {
            width: 4rem;
            height: 4rem;

            path {
                stroke: $colorLightBlack;
            }

            transform: rotate(270deg);
        }
    }
}