@import '../../../styles/common/variables.scss';
@import '../../../styles/common/fonts.scss';
@import '../../../styles/common/extends.scss';

.documentation {
    background: $colorBlack;

    @extend %page-min-height;

    p, li, h1, h2, h3, h4, a {
        color: $colorWhite;
    }

    h1 {
        @extend %Font-Headline;
        color: $colorBlue;
    }

    h2, h3, h4 {
        @extend %Font-Regular-20px;
    }

    h1, h2 {
        text-align: center;
    }

    p, li, a {
        @extend %Font-Regular-15px;
    }

    %box-shadow {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    %card-styles {
        padding: 2rem;
        border-radius: 2rem;
        
        text-align: center;
    }

    &__inner {
        display: flex;
        flex-direction: column;

        gap: 4rem;

        padding: 5rem 0;
    }

    &__headline {
        text-align: center;
        text-transform: uppercase;
    }

    &__first-block, &__second-block, &__fourth-block, &__fifth-block {
        display: flex;
        flex-direction: column;

        gap: 4rem;

        padding: 2rem;

        border-radius: 3rem;

        .headline {
            color: $colorWhite;
        }

        ul {
            list-style-type: none;
        }
    }

    &__first-block, &__third-block, &__fifth-block {
        background: linear-gradient(to right, rgb(52, 232, 158), rgb(15, 52, 67));
    }

    &__second-block, &__fourth-block {
        background-color: $colorLightBlack;
    }

    &__first-block {

        .nav {
            display: flex;
            justify-content: center;
            gap: 5rem;


            &__link {
                text-decoration: none;

                &:hover {
                    color: $colorLightBlack;
                }
            }
            
        }
    }

    &__second-block {
        .main {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;

            &__left, &__right {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                
                padding: 2rem;

                background-color: $colorGreen;
                border-radius: 3rem;
            }

            &__headline {
                color: $colorWhite;
                text-align: center;
            }

            &__text-container {
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }

            &__subheadline {
                text-align: center;
            }

            &__text {
                display: grid;
                gap: 1rem;

                text-align: center;
                
                &-item {
                    background-color: $colorLightBlack;

                    padding: 1rem .5rem;

                    border-radius: 3rem;
                }
            }

            &__left {
                .main__text {
                    grid-template-columns: repeat(2, 1fr);
                }
            }

            &__right {
                .main__text {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }
    
    &__fourth-block {
        .main {
            display: flex;
            flex-direction: column;
            gap: 4rem;

            &__block {
                &-subheadline {
                    text-align: center;
                    color: $colorWhite;

                    margin-bottom: 2rem;
                }
            }

            &__block:first-child {
                .list {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 2rem;

                    &__item {
                        @extend %card-styles;
                        @extend %box-shadow;

                        background-color: $colorGreen;
                    }

                    &__item:nth-child(3) {
                        grid-column: span 2;

                        .sublist__list {
                            display: grid;
                            grid-template-columns: repeat(4, 1fr);
                            gap: 2rem;

                            margin-top: 2rem;
                        }

                        .sublist__item {
                            background: $colorLightBlack;
                            @extend %card-styles;
                        }
                    } 

                    &__item:nth-child(4) {
                        grid-column: span 2;
                        
                        .sublist__list {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            gap: 2rem;

                            margin-top: 2rem;
                        }

                        .sublist__item {
                            background: $colorLightBlack;

                            @extend %card-styles;
                        }
                    } 
                }
            }

            &__block:nth-child(2) {
                .list {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    @extend %card-styles;

                    background-color: $colorGreen;


                    &__item {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        @extend %card-styles;
                        @extend %box-shadow;

                        background: $colorLightBlack;

                        text-align: left !important;
                    }
                }
            }

            &__block:last-child {
                .main__block-item {
                    display: flex;
                    flex-direction: column;
                    gap: 4rem;

                    .list-container {
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;

                        border: .1rem solid $colorGreen;
                        border-radius: 2rem;

                        padding: 2rem;

                        background: $colorGreen;


                        &__headline {
                            padding: 0 2rem;

                            color: $colorWhite;
                            text-transform: uppercase;
                        }

                        &__list {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            gap: 2rem;

                            &-item {
                                display: flex;
                                flex-direction: column;
                                gap: 1rem;

                                @extend %card-styles;
                                @extend %box-shadow;

                                background: $colorLightBlack;

                                .name {
                                    margin-bottom: 2rem;
                                }
    
                                .description {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}