@import '../../styles/common/variables.scss';
@import '../../styles/common/fonts.scss';
@import '../../styles/common/extends.scss';

.selected-page-nav {
    color: $colorBlue !important;
}

.header {
    background: $colorBlack;

    .container {
        border-bottom: .1rem $colorPink solid;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        padding: 4rem 0;
    }

    &__headline {
        @extend %Font-Headline;
        color: $colorPink;
        text-align: center;

        @extend %headline-main-animation;
    }

    &__nav-list {
        display: flex;
        gap: 4rem;

        &-item {
            a {
                @extend %Font-Regular-20px;
                color: $colorPink;

                text-decoration: none;

                @include transition(.3s, ease, all);

                &:hover {
                    color: $colorBlue;
                    @include transition(.3s, ease, all);
                }
            }
        }
    }
}