@import '../../styles/common/variables.scss';
@import '../../styles/common/fonts.scss';
@import '../../styles/common/extends.scss';

.header {
    background: $colorBlack;

    .container {
        border-bottom: .1rem $colorPink solid;
    }

    &__inner {
        padding: 2rem 0;
    }

    &__headline {
        @extend %Font-Headline;
        color: $colorPink;
        text-align: center;

        @extend %headline-main-animation;
    }
}