@import '../../styles/common/variables.scss';
@import '../../styles/common/fonts.scss';

.header {
    background: $colorBlack;

    .container {
        border-bottom: .1rem $colorPink solid;
    }

    &__inner {
        padding: 4rem 0;
    }

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    &__nav-item {
        color: $colorPink;
        @extend %Font-Regular-20px;

        text-decoration: none;

        transition: all .5s ease;

        &:hover {
            transition: all .5s ease;
        }
    }
}