@import '../../styles/common/extends.scss';
@import '../../styles/common/mixins.scss';
@import "~react-image-gallery/styles/scss/image-gallery.scss";

.gallery {
    .container {
        background: $colorBlack;

        min-height: calc(100vh - 10.5rem - 7.9rem);

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__inner {
        width: 100%;

        display: flex;
        flex-direction: column;
        
        padding: 4rem 0;
    }

    &__action-btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 4rem;

        margin-bottom: 4rem;

        &-btn {
            @extend %action-btn;

            &:hover {
                .download-icon, .close-icon {
                    path {
                        fill: $colorBlue;
                    }
                }

                .download-icon {
                    path {
                        stroke: $colorBlue;
                    }
                }
            }

            .download-icon {
                path {
                    stroke: $colorGreen;
                }
            }

            .close-icon {
                path {
                    fill: $colorGreen;
                }
            }
        }
    }

    &__action-btn-container:last-of-type {
        justify-content: center;

        margin-top: 4rem;
    }

    &__main {

        .image-gallery-content {
            &.fullscreen {
                height: 100%;

                .image-gallery-slide-wrapper {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .image-gallery-slide-wrapper {
                .image-gallery-slide {
                    height: calc(70vh - 10.5rem - 7.8rem);
                }
        
                .image-gallery-image, img {
                    max-height: 100% !important;
                }
    
                .image-gallery-icon, .image-gallery-fullscreen-button, .image-gallery-play-button {
                    &:hover {
                        color: $colorBlue;
                    }
                }
    
                .image-gallery-bullet {
                    &:hover {
                        background: $colorBlue;
                    }
                }
            }
        }


    }

    &__center {
        width: 100%;
        
        display: flex;
        align-items: center;
        justify-content: space-between;

        overflow: hidden;

        gap: 2rem;
    }

    &__img {
        max-width: 50%;
        height: auto;

        border-radius: .5rem;
    }
}