@import '../../../../styles/common/variables.scss';
@import '../../../../styles/common/extends.scss';

.delete-img-btn {
    @extend %action-btn;

    &:hover {
        svg {
            path {
                stroke: $colorRed;
            }
        }

        p {
            color: $colorRed;
        }
    }

    svg {
        path {
            stroke: $colorGreen;
        }
    }
}