@import '../../../styles/common/variables.scss';
@import '../../../styles/common/extends.scss';

.delete-btn {
    @extend %action-btn;

    $colorRed: rgb(215, 25, 11);
    
    &:hover {
        svg {
            path {
                stroke: $colorRed;
            }
        }

        p {
            color: $colorRed;
        }
    }

    svg {
        path {
            stroke: $colorGreen;
        }
    }
}