@import '../../../styles/common/variables.scss';
@import '../../../styles/common/fonts.scss';
@import '../../../styles/common/mixins.scss';
@import '../../../styles/common/extends.scss';

%block {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background: $colorLightBlack;

    padding: 2rem;

    border-radius: 2rem;
}

%containers-with-scroll {
    max-height: 15rem;
    overflow-x: auto;

    padding-right: 1rem;

    &::-webkit-scrollbar {
        background: $colorLightBlack;
        width: .5rem;
    }

    &::-webkit-scrollbar-thumb {
        background: $colorGreen;

        height: .1rem;
        width: .1rem;
        
        border-radius: 1rem;
    }
}

@keyframes show-img {
    0% {
        min-height: 0;
    }

    100% {
        min-height: 20rem;
    }
}

@keyframes hide-img {
    0% {
        min-height: 20rem;
    }

    100% {
        min-height: 0;
    }
}

.generation-history-item {

    &__inner {
        padding: 4rem 2rem 2rem;

        background: linear-gradient(to bottom, rgb(38 161 111), rgb(15, 52, 67));

        border-radius: 3rem;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

        margin-bottom: 2rem;
    }

    &__prompt {
        @extend %Font-Regular-16px;
        color: $colorWhite;

        @extend %block;

        .value-container {
            @extend %containers-with-scroll;
        }
    }

    &__block {
        @extend %block;

        .name, .value {
            @extend %Font-Regular-16px;
            color: $colorWhite;
        }
    }

    &__btns-container, &__img-container {
        grid-column: span 2;
    }

    &__block.model-options {
        .model-options-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1rem;

            @extend %containers-with-scroll;
            
            &__item {
                display: flex;
                gap: 1rem;

                background: $colorGreen;

                padding: 1rem 2rem;
                border-radius: 2rem;
            }

            .column {
                flex-direction: column;
            }
        }

        .headline {
            @extend %Font-Regular-16px;
            color: $colorWhite;
        }

    }

    &__btns-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

        &-btn {
            @extend %action-btn;
        }

        a:last-child {
            grid-column: span 2;
        }
    }

    &__img-container {
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 3rem;

        background: $colorLightBlack;

        @include transition(.5s, ease);

        &.active {
            padding: 2rem;

            min-height: 20rem;

            animation: show-img .5s forwards;

            @include transition(.5s, ease);
        }

        img {
            width: 100%;
            max-height: 50rem;

            border-radius: 2rem;
        };
    }

    &:nth-of-type(even) {

        .generation-history-item__inner {
            background: linear-gradient(to bottom, rgb(15, 52, 67), rgb(38 161 111));
        }
    
        .generation-history-item__block, .generation-history-item__prompt {
            .model-options-container {
                background: $colorLightBlack;
            }
        }
    }
}